*{
    margin: 0;
    padding: 0;
}


.player{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: black;
    width: 200px;
    padding: 80px;
    height: 300px;
    margin-left: 450px;
}
.audio{
    display: none;
}
#image{
   border-radius: 40px;
  
   height: 230px;
   width: 300px;
}
.controls{
    margin-top: 40px;
    display: flex;
    gap: 15px;
}
.back, .play, .next, .pause{
  font-size: 80px; 
}
.next:hover,.back:hover,.play:hover, .pause:hover {
  color: blueviolet;
}
.pause{
    color:white;
}